{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo">Experts Network</span>
    </div>
    <div id="content">
        {% block content %}
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Had An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                </small>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                </small>
            </div>
        {% endblock %}
    </div>
</body>

</html>