{% extends "experts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">

        <div class="media-body">
            <h1 class="page-name">This is dashboard page!</h1>
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>

        </div>

      </div>
      <!-- FORM HERE -->
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'password_change' %}">Change Password</a>
        </small>
    </div>
{% endblock content %}
