{% extends "experts/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock %}
{% block content %}
    <h1>Log In</h1>
    <div class="content-section">
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Log in"></p>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{% url 'password_reset' %}">Forgetten your password?</a>
            </small>
        </div>
    </div>
{% endblock %}
